
<div class="row">
     <h1>Educacion</h1>
     <div class="col-lg-11">
          <ul>
               <li>
                    <h1>Primarios</h1> - <h3>(1988 - 1994)</h3>
               </li>
               <p>Escuela provincial N°39 </p>
          </ul>
          <ul>
               <li>
                    <h1>Secundario</h1> - <h3>(tiempo)</h3>
               </li>
               <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem quisquam ipsa est nemo repellat, sequi laudantium, deserunt aliquam assumenda veniam officia similique provident necessitatibus repellendus quo fugit perspiciatis delectus iste!</p>
          </ul>
          <ul>
               <li>
                    <h1>Terciario</h1> - <h3>(tiempo)</h3>
               </li>
               <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem quisquam ipsa est nemo repellat, sequi laudantium, deserunt aliquam assumenda veniam officia similique provident necessitatibus repellendus quo fugit perspiciatis delectus iste!</p>
          </ul>
     </div>
</div>
