
<!-- asi se comenta en html. no codigos como por ej:
<div class="container">
     <div class="row">

     </div>
</div>
solo expresiones para un backend: ej: Tamaño de  rejilla en acerca de
-->
<div class="row">
     <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
          <img src="../../../assets/perfil.png" 
          class="img-fluid"
          id="fotodeperfil">
     </div>
     <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
          <p id="nombre">
               <link rel="preconnect" href="https://fonts.googleapis.com">
               <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
               <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet"> 
               {{persona.nombre}} {{persona.apellido}}
               Julio C. Vargas
          </p>
          <p>FrondEnd Developer Jr</p>
     </div>
     <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
          <span>
               <h1>Acerca de mi</h1>
               <p>Estudiante en el profesorado de Ciencias Economicas. Curso en el curso de Argentina Programa como desarrollador fullstack devolrer jr.
                    Trabajo en equipo con predisposicion, colaboracion y comparto conocimientos tecnologicos. Se que no hay perfeccion en proyectos pero siempre 
                    busco la excelencia tratando de mejorar, aprendiendo nuevos conocimientos, escuchando, proponiendo para la mejora continua de mi ambito
                    laboral. Quisiera trabajar de lo que me gusta, como desarrollador web.
               </p>
          </span>
     </div>
</div>

