
<div class="row">
     <h1>Experiencia laboral</h1>
     <div class="col-lg-11">
          <ul>
               <li>
                    <h1>Primer trabajo</h1> - <h3>(tiempo)</h3>
               </li>
               <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem quisquam ipsa est nemo repellat, sequi laudantium, deserunt aliquam assumenda veniam officia similique provident necessitatibus repellendus quo fugit perspiciatis delectus iste!</p>
          </ul>
          <ul>
               <li>
                    <h1>Segundo trabajo</h1> - <h3>(tiempo)</h3>
               </li>
               <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem quisquam ipsa est nemo repellat, sequi laudantium, deserunt aliquam assumenda veniam officia similique provident necessitatibus repellendus quo fugit perspiciatis delectus iste!</p>
          </ul>
          <ul>
               <li>
                    <h1>Tercer trabajo</h1> - <h3>(tiempo)</h3>
               </li>
               <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem quisquam ipsa est nemo repellat, sequi laudantium, deserunt aliquam assumenda veniam officia similique provident necessitatibus repellendus quo fugit perspiciatis delectus iste!</p>
          </ul>
     </div>
</div>
